/****************************************  variables *********************************** */
:root {
  /****************************************/
  /*********** Colors ********************/
  /**************************************/
  --primary-color: #2a2438;
  --secondary-color: #433b55;
  --third-color: #4f3b78;
  --fourth-color: #5c5470;
  --font-color: #f2f2f2;
  --graient-one: #ff9214;
  --gradient-two: #ff0045;
  --warning-color: #ec3b3b;
  --proceed-color: #90d171;

  /****************************************/
  /*********** Font Sizing ***************/
  /**************************************/
  --body-font: 2rem;
  --title-font: 5rem;
  --sub-title-font: 3rem;
  --small-font: 1.6rem;

  /****************************************/
  /*********** Input Dimmensions *********/
  /**************************************/
  --input-width: 19rem;
  --input-height: 3.1rem;
  --input-padding: 0.5rem;
  --input-radius: 0.5rem;

  /****************************************/
  /*********** Spacing Elements **********/
  /**************************************/
  --xxsmall-spacing: 0.3rem;
  --xsmall-spacing: 0.5rem;
  --small-spacing: 0.8rem;
  --medium-spacing: 1rem;
  --large-spacing: 1.5rem;
  --xlarge-spacing: 2rem;
  --xxlarge-spacing: 3rem;

  /****************************************/
  /*********** Main Wrapper *************/
  /**************************************/
  --main-wrapper: 92%;
  --max-width-main-wrapper: 31.25rem;

  /****************************************/
  /*********** Breaks ********************/
  /**************************************/
  --ipad-break: 600px;
  --laptop-break: 800px;
  --desktop-break: 1050px;
}

/****************************************  resets *********************************** */
html {
  font-size: 10px;
}

* {
  font-size: 100%;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  line-height: 1.8em;
  background-color: var(--primary-color);
  color: var(--font-color);
  font-size: var(--sub-title-font);
}

a:visited,
a:active,
a:link {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/****************************************  Globals *********************************** */
.main-wrapper {
  height: 100vh;
  width: 100vw;
}

.main-wrapper {
  width: var(--main-wrapper);
  margin: 0 auto;
  overflow: hidden;
}

/* ------------------Icons                                                       */
.std-icon {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: var(--icon-sizing);
  height: var(--icon-sizing);
}

/*--------------- Containers:                                                     */
.std-flex-row,
.std-flex-column,
.std-flex--nowrap,
.std-flex--start,
.std-flex--end {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.std-flex-column {
  flex-flow: column;
}

.std-flex--nowrap {
  flex-wrap: nowrap;
}

.std-flex--start {
  justify-content: flex-start;
}

.std-flex--end {
  justify-content: flex-end;
}

/* ----------------- text                                */
.gradient-text {
  background-image: linear-gradient(
    45deg,
    var(--graient-one),
    var(--gradient-two)
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font: var(--primary-font-mobile);
  text-align: center;
  padding: 0;
  margin: 0;
}
