@import url("https://use.typekit.net/vkq8fxg.css");
/****************************************  variables *********************************** */
:root {
  /****************************************/
  /*********** Colors ********************/
  /**************************************/
  --primary-color: #2a2438;
  --secondary-color: #433b55;
  --third-color: #4f3b78;
  --fourth-color: #5c5470;
  --font-color: #f2f2f2;
  --graient-one: #ff9214;
  --gradient-two: #ff0045;
  --warning-color: #ec3b3b;
  --proceed-color: #90d171;
  --shadow-color: #191622;
  --shadow-color--light: #302b40;
  --shadow-contrasting-bkg: #2c263a;

  /****************************************/
  /*********** Font Sizing ***************/
  /**************************************/
  --body-font-size: 2rem;
  --title-font-size: 5rem;
  --sub-title-font-size: 3rem;
  --small-font-size: 1.6rem;

  /****************************************/
  /*********** Font Family ***************/
  /**************************************/
  --title-font: 800 4rem museo-sans-display, sans-serif;
  --body-font: 100 1.8rem museo-sans-rounded, sans-serif;
  --button-font: 700 1.8rem museo-sans-rounded, sans-serif;

  font-weight: 700;

  /****************************************/
  /*********** Input Dimmensions *********/
  /**************************************/
  --input-width: 19rem;
  --input-height: 3.1rem;
  --input-padding: 0.5rem;
  --input-radius: 0.5rem;

  /****************************************/
  /*********** Spacing Elements **********/
  /**************************************/
  --xxsmall-spacing: 0.3rem;
  --xsmall-spacing: 0.5rem;
  --small-spacing: 1rem;
  --medium-spacing: 1.5rem;
  --large-spacing: 2.2rem;
  --xlarge-spacing: 2.8rem;
  --xxlarge-spacing: 3.5rem;

  /****************************************/
  /*********** Main Wrapper *************/
  /**************************************/
  --main-wrapper: 92%;
  --max-width-main-wrapper: 31.25rem;

  /****************************************/
  /*********** Breaks ********************/
  /**************************************/
  --ipad-break: 600px;
  --laptop-break: 800px;
  --desktop-break: 1050px;
}

/****************************************  resets *********************************** */
html {
  font-size: 10px;
}

* {
  font-size: 100%;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  line-height: 1.8em;
  background-color: var(--primary-color);
  color: var(--font-color);
  font: var(--body-font);
}

a:visited,
a:active,
a:link {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/****************************************  Globals *********************************** */
.global-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-wrapper {
  width: var(--main-wrapper);
  margin: 0 auto;
}

/* ------------------Icons                                                       */
.std-icon {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: var(--icon-sizing);
  height: var(--icon-sizing);
}

/*--------------- Containers:                                                     */
.std-flex-row,
.std-flex-column,
.std-flex--nowrap,
.std-flex--start,
.std-flex--end {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.std-flex-column {
  flex-flow: column;
}

.std-flex--nowrap {
  flex-wrap: nowrap;
}

.std-flex--start {
  justify-content: flex-start;
}

.std-flex--end {
  justify-content: flex-end;
}

/* ----------------- buttons                                */
.std-button {
  display: block;
  width: 15rem;
  padding: var(--small-spacing);
  background-color: var(--third-color);
  text-align: center;
  border-radius: 0.5rem;
  margin: var(--medium-spacing) auto;
  transition: background-color 300ms ease-in;
  box-shadow: inset 1.5px 1.5px 1px 1px var(--graient-one),
    inset -1px -1px 3px 1px var(--gradient-two);
  transition: 300ms;
}

.small-button {
  width: 6rem;
  height: 4.5rem;
  background-color: var(--shadow-contrasting-bkg);
  box-shadow: 5px 5px 10px 2px var(--shadow-color),
    -0.5px -0.5px 1px 0.5px var(--shadow-color--light);
  border-radius: 0.5rem;
}

/* ----------------- text                                */
.gradient-text {
  background-image: linear-gradient(
    45deg,
    var(--graient-one),
    var(--gradient-two)
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font: var(--primary-font-mobile);
  text-align: center;
  padding: 0;
  margin: 0;
}

.std-button .gradient-text,
.small-button .gradient-text {
  font: var(--button-font);
}
